.question {
  padding: 10px;
}

.answers {
  padding: 10px;
}

.results {
  padding: 15px;
  max-width: fit-content;
  margin: 0px auto;
}

.results--visible {
  background-color: white;
}

.answer--correct {
  color: lightgreen;
}

.answer--incorrect {
  color: rgb(248, 82, 82);
}
