.question {
  padding: 10px;
}

.answers {
  padding: 10px;
}

.results {
  padding: 15px;
  max-width: fit-content;
  margin: 0px auto;
}

.results--visible {
  background-color: white;
}

.answer--correct {
  color: rgb(26, 87, 26);
}

.answer--incorrect {
  color: rgb(247, 53, 53);
}
