html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

.body {
  margin: 0px auto;
  width: 1000px;
  background-color: beige;
  font-family: "Raleway", sans-serif;
  color: gray;
}
