html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

.body {
  margin: 0px auto;
  width: 1000px;
  font-family: "Raleway", sans-serif;
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  padding: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgba(248, 244, 238, 0.815);
  max-width: fit-content;
  margin: 0px auto;
  padding: 100px;
}

main {
  flex: 1;
}
